/*
** Стили для слайдшоу
*/
#rotator ul li {
    float: left;
}
div#rotator {
    position:relative; top: 106px;
}
div#rotator ul li {
    float:left; position:absolute; list-style: none;
}
div#rotator ul li.show {
    z-index:500;
}